<!DOCTYPE html>
<html lang="en">
<head>
    <title>Todo Lists</title>
</head>
<body>
    <header>

    </header>
    <main>
        <div>
        <h1> {{tododetails.name}} </h1>
        <p>
            <a href="{% url "todo_list_update" tododetails.id%}"> Edit </a>
        </p>
        <p>
            <a href="{% url "todo_list_delete" tododetails.id %}"> Delete </a>
        </p>
        <h2> Tasks </h2>
        <table>
            <thead>
                <tr>
                    <th> Task </th>
                    <th> Due date </th>
                </tr>
            </thead>
            <tbody>
                {% for detail in tododetails.items.all %}
                <tr>
                    <td> <a href="{% url "todo_item_update" detail.id %}"> {{detail.task}} </a></td>
                    <td> {{detail.due_date}} </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


    </main>
</body>
</html>
